.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  min-height: 100vh;
}

header {
  background: #111827;
  color: white;
  padding: 70px 20px;
}

header h1 {
  font-size: 45px;
}

header p {
  font-size: 20px;
}

button {
  background: #f97316;
  color: white;
  border: none;
  padding: 14px 28px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

section {
  padding: 40px 20px;
}

section div {
  background: white;
  margin: 20px auto;
  padding: 25px;
  max-width: 500px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}